# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Assets.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hugo\Desktop\Skola\Unity\Get Up - dev.1.0\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
